@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

@if (authorized)
{
    <a href="admin/categories" class="dropdown-item">Categories</a>
    <a href="admin/product-types" class="dropdown-item">Product Types</a>
    <a href="admin/products" class="dropdown-item">Products</a>
    <hr />
}

@code {
    bool authorized = false;

    protected override async Task OnInitializedAsync()
    {



        string role = (await authStateProvider.GetAuthenticationStateAsync())
            .User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;

        if (role != null && role.Contains("Admin"))
        {
            authorized = true;
        }
    }
}
